:root {
  --sq-width: 4rem;
  --sq-border_width: 0.25rem;
}

* {
  background: #264653;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.btn {
  width: 10rem;
  height: 3rem;
  background: #f4a261;
}

.btn:hover {
  scale: 1.05;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(
    9,
    calc(var(--sq-width) + var(--sq-border_width))
  );
  grid-template-rows: repeat(9, calc(var(--sq-width) + var(--sq-border_width)));
  width: fit-content;
  height: fit-content;
  /* border: calc(2 * var(--sq-border_width)) solid black; */
  background-color: black;
}

.square {
  width: var(--sq-width);
  height: var(--sq-width);
  border: var(--sq-border_width) solid lightgray;
  background-color: #2a9d8f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.square[highlighted="1"] {
  border: var(--sq-border_width) solid gray;
  z-index: 1;
}

.square:hover {
  border: var(--sq-border_width) solid gray;
  z-index: 1;
}

/* Marking out the grid boxes with black lines */
/* Vertical lines */
/* makes sure that the first column does not have border changed */
.square:nth-child(3n + 1):not(:nth-child(9n + 1)) {
  border-left: var(--sq-border_width) solid #264653;
}
/* mirror of above to prevent overwriting of border */
.square:nth-child(3n):not(:nth-child(9n)) {
  border-right: var(--sq-border_width) solid #264653;
}

/* Horizontal lines */
.square:nth-child(n + 19):nth-child(-n + 27) {
  border-bottom: var(--sq-border_width) solid #264653;
}
/* mirror of above to prevent overwriting of border */
.square:nth-child(n + 28):nth-child(-n + 36) {
  border-top: var(--sq-border_width) solid #264653;
}

.square:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom: var(--sq-border_width) solid #264653;
}
/* mirror of above to prevent overwriting of border */
.square:nth-child(n + 55):nth-child(-n + 63) {
  border-top: var(--sq-border_width) solid #264653;
}

span {
  font-size: 2rem;
  background: #2a9d8f;
}

span[set="0"] {
  color: #e9c46a;
}

span[set="2"] {
  color: #e76f51;
}
