:root {
  --sq-width: 4rem;
  --sq-border_width: 0.25rem;
}

* {
  background: skyblue;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.btn {
  width: 10rem;
  height: 3rem;
  background: lightgreen;
}

.btn:hover {
  scale: 1.05;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(
    9,
    calc(var(--sq-width) + var(--sq-border_width))
  );
  grid-template-rows: repeat(9, calc(var(--sq-width) + var(--sq-border_width)));
  width: fit-content;
  height: fit-content;
  /* border: calc(2 * var(--sq-border_width)) solid black; */
  background-color: black;
}

.square {
  width: var(--sq-width);
  height: var(--sq-width);
  border: var(--sq-border_width) solid lightgray;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.square[highlighted="1"] {
  border: var(--sq-border_width) solid gray;
  z-index: 1;
}

/* Marking out the grid boxes with black lines */
/* Vertical lines */
.square:nth-child(3n + 1) {
  border-left: var(--sq-border_width) solid black;
  z-index: 2;
}

.square:nth-child(9n) {
  border-right: var(--sq-border_width) solid black;
}
/* Horizontal lines */
.square:nth-child(n):nth-child(-n + 9) {
  border-top: var(--sq-border_width) solid black;
}

.square:nth-child(n + 28):nth-child(-n + 36) {
  border-top: var(--sq-border_width) solid black;
}

.square:nth-child(n + 55):nth-child(-n + 63) {
  border-top: var(--sq-border_width) solid black;
}

.square:nth-child(n + 73) {
  border-bottom: var(--sq-border_width) solid black;
}

span {
  font-size: 2rem;
  background: white;
}

span[set="0"] {
  color: blue;
}

span[set="2"] {
  color: red;
}
