:root {
  --sq-width: 4rem;
  --sq-border_width: 0.25rem;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(9, var(--sq-width));
  grid-template-rows: repeat(9, var(--sq-width));
  width: fit-content;
  height: fit-content;
  /* border: calc(2 * var(--sq-border_width)) solid black; */
  background-color: black;
}

.square {
  width: var(--sq-width);
  height: var(--sq-width);
  border: var(--sq-border_width) solid lightgray;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.square[highlighted="1"] {
  border: var(--sq-border_width) solid gray;
  z-index: 1;
}

span {
  font-size: 2rem;
}

span[set="0"] {
  color: blue;
}
